.input {
  outline: none;
  border: 0;
  background: transparent;
  padding: 5px 5px 5px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 300;

  &.clear {
    padding-right: 16px;
  }

  &::placeholder {
    color: var(--gray-color);
  }

  &.base {
    color: var(--base-color);
    border-bottom: 1px solid var(--base-color);
  }

  &.second {
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
  }

  &_label {
    position: relative;
  }

  &_clear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
