.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(5px);
  opacity: 0;
  cursor: pointer;

  &_background {
    height: 120px;
    width: 50px;
    background-color: var(--gray-light-color);
    opacity: 0.5;

    @media screen and (max-width: 600px) {
      height: 80px;
      width: 40px;
    }
  }

  &_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @media screen and (max-width: 600px) {
      height: 30px;
      width: 20px;
    }
  }

  &.prev {
    left: 0;

    .arrow_background {
      border-radius: 0 12px 12px 0;
    }
  }

  &.next {
    right: 0;

    .arrow_background {
      border-radius: 12px 0 0 12px;
    }

    .arrow_icon {
      transform: translate(-50%, -50%) rotate(181deg);
    }
  }
}
