.bar {
  width: 250px;
  flex-shrink: 0;
}

.userEllipse {
  border-bottom: 1px solid #979797;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  span {
    padding-left: 10px;
    padding-right: 50px;
  }
}
.wrapper {
  display: flex;
}

.content {
  min-height: 100vh;
  border-left: 1px solid #979797;
  flex-grow: 1;
}

.container {
  padding-top: 55px;
}

.myReviewsHeader {
  margin-left: 20px;
  min-height: 51px;
  padding-bottom: 15px;
  border-bottom: 1px solid #979797;
}
.reviewsWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-top: 35px;
  row-gap: 40px;
  font-size: 15px;
}

.myReviewsHeader {
  .fillterStyles {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }

  h2 {
    padding-right: 5px;
    font-size: 20px;
    font-weight: 400;
  }
}

.orderItem {
  display: flex;
  gap: 50px;
  row-gap: 50px;
  border-bottom: 1px solid#979797;
}

.userNameData {
  span {
    color: #979797;
  }
}

.userName {
  font-weight: 500;
}

.contentBox {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.wrapperHolder {
  display: flex;
  gap: 5px;
}

.linkHolder {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 20px;
  a {
    color: #979797;
    border-bottom: 1px solid#979797;
  }
}

.reviewsCommentContent {
  flex: 1;
}

.reviewsOrderNumber {
  span {
    color: #979797;
  }
}
