.bar {
  width: 250px;
  flex-shrink: 0;
}

.userEllipse {
  border-bottom: 1px solid #979797;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  span {
    padding-left: 10px;
    padding-right: 50px;
  }
}
.wrapper {
  display: flex;
}

.content {
  min-height: 100vh;
  border-left: 1px solid #979797;
  flex-grow: 1;
}

.container {
  padding-top: 55px;
}

.myProductsHeader {
  margin-left: 20px;
  min-height: 51px;
  padding-bottom: 15px;
  border-bottom: 1px solid #979797;
}
.myProductsWrapper {
  display: flex;
  align-items: center;
}

.productWrapper {
  gap: 40px;
  row-gap: 5px;
  padding-left: 20px;
}

.orderList {
  li {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    &.header {
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    ul {
      flex-grow: 1;
      margin-top: -15px;
      margin-bottom: -15px;
    }
    li {
      padding-bottom: 15px;
      padding-top: 15px;
      display: block;
      & > div {
        width: 19%;
        text-align: center;
        display: inline-block;

        &:first-child {
          width: 55%;
        }
      }
    }
  }
}

.orderItem {
  padding-top: 25px;
  border-bottom: 1px solid #979797;
}

.createData {
  color: #979797;
  font-size: 14px;
  padding-right: 65px;
  padding-left: 65px;
}

.textStyles {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  width: 65px;
}
.UserTextStyles {
  font-size: 16px;
  width: 80px;
}

.ProductNameTextStyles {
  font-size: 16px;
}

.volumeAndPrise {
  font-size: 16px;
}

.productOrderNumber {
  font-size: 14px;
  width: 147px;
  text-align: center;
}
.productItem {
  border-top: 1px solid #979797;
  &:first-child {
    border-top: none;
  }
}
.header {
  font-size: 14px;
  color: black !important;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
  font-weight: 300 !important;
  border-top: none;
  .productItem {
    padding: 0;
    font-weight: 300;
    border-top: none;
  }
  strong {
    font-weight: 300;
  }

  .createData {
    color: black;
    width: 238px;
    flex-shrink: 0;
    text-align: center;
  }
  .productOrderNumber {
    font-size: 14px;
    width: 147-px;
  }
  .volumeAndPrise {
    font-size: 14px;
  }
  .ProductNameTextStyles {
    font-size: 14px;
    width: 80px;
  }
  .UserTextStyles {
    font-size: 14px;
  }
  .price {
    text-align: center;
  }
  .textStyles {
    font-size: 14px;
    justify-content: center;
    width: 129px;
  }
}

.orderListIcon {
  padding-left: 40px;
}

.colabs {
  width: 55px;
}
