.main {
  width: 100%;
  max-width: var(--desktop-size);
  min-height: calc(100vh - var(--header-height));
  margin: var(--header-height) auto 0;
  padding: 0 30px;
  background-color: var(--second-color);

  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
}
