@font-face {
  font-family: "Reghteous";
  src: url(/fonts/Righteous-Regular.ttf) format("truetype");
}

:root {
  /* FONTS */
  --global-font: Reghteous;

  /* COLORS */
  --base-color: #000000;
  --second-color: #ffffff;
  --gray-color: #d9d9d9;

  /* HEADER */
  --header-height: 120px;

  /* TRANSITION */
  --default-transition: 0.3s;

  /* MEDIA */
  --desktop-size: 1400px;
  --tablet-size: 1024px;
  --mobile-size: 600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--global-font);
}

a {
  color: inherit;
  text-decoration: none;
}



