@font-face {
  font-family: "Reghteous";
  src: url(/fonts/Righteous-Regular.ttf) format("truetype");
}

:root {
  /* FONTS */
  --global-font: Reghteous;

  /* COLORS */
  --base-color: #1e1e1e;
  --second-color: #ffffff;

  /* HEADER */
  --header-height: 110px;

  /* TRANSITION */
  --default-transition: 0.3s;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--global-font);
}

a {
  color: inherit;
  text-decoration: none;
}
