.header {
  position: fixed;
  display: flex;
  justify-content: center;
  height: var(--header-height);
  width: 100vw;
  background-color: var(--base-color);

  &_logo {
    border-radius: 0 0 12px 12px;
  }
}
