.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--header-height);
  width: 100vw;
  background-color: var(--base-color);

  &_content {
    width: 100%;
    max-width: var(--desktop-size);
    padding: 0 30px;
  }

  &_panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 13px;

    &_left {
      display: flex;
      justify-self: flex-start;
    }

    &_logo {
      justify-self: center;
      border-radius: 0 0 12px 12px;
    }

    &_right {
      display: flex;
      justify-self: flex-end;
    }

    svg {
      cursor: pointer;
    }
  }
}
