.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinner {
  font-size: 2px;
  text-indent: -9999em;
  border-top: 1em solid var(--base-color);
  border-right: 1em solid var(--base-color);
  border-bottom: 1em solid var(--second-color);
  border-left: 1em solid var(--second-color);
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
