.search {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &_icon {
    cursor: pointer;
  }

  & > :not(:first-child):not(:last-child) {
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 10px;
  }
}
