.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  opacity: 0;
  animation: preloader 2s;
  pointer-events: none;
  z-index: 1;

  &_logo {
    background-color: var(--white-color);
    color: var(--black-color);
    animation: logo 1s;
  }
}

@keyframes preloader {
  0% {
    background-color: var(--black-color);
    opacity: 1;
  }

  50% {
    background-color: var(--black-color);
    opacity: 1;
  }

  100% {
    background-color: var(--white-color);
    opacity: 0;
  }
}

@keyframes logo {
  from {
    opacity: 0;
    filter: blur(4px);
  }

  to {
    opacity: 1;
    filter: blur(0px);
  }
}
