.banner {
  position: relative;
  height: 60vh;
  width: 100%;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    height: 45vh;
  }

  @media screen and (max-width: 600px) {
    min-height: 200px;
    height: 30vh;
  }

  &_wrapper {
    display: flex;
    gap: 20px;
    border-radius: 30px;
  }

  &_title {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: var(--white-color);
    font-size: 54px;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      bottom: 40px;
      left: 30px;
      font-size: 32px;
    }
  }

  &_image {
    object-fit: cover;
  }
}
