.banner {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  &_title {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: var(--white-color);
    font-size: 54px;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      & {
        bottom: 40px;
        left: 30px;
        font-size: 32px;
      }
    }
  }

  &_item {
    position: relative;
    height: 700px;
    margin: 0 auto;

    &:focus-visible {
      outline: none;
    }

    &_wrapper {
      display: flex;
      width: 100%;
    }

    @media screen and (max-width: 1024px) {
      & {
        height: 400px;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        height: 200px;
      }
    }
  }

  &_image {
    border-radius: 30px;
    height: 100%;

    &:focus-visible {
      outline: none;
    }
  }
}
