.banner {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;

  &_item {
    height: 700px;
    width: 100%;

    &:focus-visible {
      outline: none;
    }

    @media screen and (max-width: 1024px) {
      & {
        height: 400px;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        height: 200px;
      }
    }
  }

  &_image {
    border-radius: 30px;
    height: 100%;
    width: calc(100% - 20px);
    margin: 0 auto;

    &:focus-visible {
      outline: none;
    }
  }
}
